.button{
    width: 80%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: block;
    color: rgb(26,26,26);
    background-color: var(--primary-200);
    border-radius: 20px;
    padding: 12px 16px;
    text-align: center;
    
}

.button:hover{
    background-color: var(--primary-hover-04);
    color: rgb(238, 238, 238);
}