.content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.load-more-button{
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
    font-weight: 400;
    padding: 12px 24px;
    background-color: rgb(45, 45, 45);
    border-radius: 25px;
    border: solid 0.3px white;
    margin-top: 16px;
    cursor: pointer;
    display: inline-block;
    filter: drop-shadow(0 0 10px rgb(19, 19, 19));
}

.load-more-button:hover{
    color: rgb(26, 26, 26);
    background-color: rgb(255, 255, 255);
}
