@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

:root{
    --background: rgb(15, 15, 15);
    --body-font-color: rgb(255, 255, 255);
    --secondary-bottun-grey:  rgb(45, 45, 45);
    --primary-500: #00bb8f;
    --primary-200: #5FE4C7;
    --primary-hover-04: #51c5ac;
    --primary-font: 'Manrope', sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(15, 15, 15);
    font-family: var(--primary-font);
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.3rem;
}

